/* styles are all here, well most of them anyway! */
/*
 * palette:
 * red: #f01111
 * green: #6aef00
 * light grey #8a9098 / #a0a0a0
 */

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #888;
	font-size: 14px;
	font-family: Calibri;
	overflow: hidden;
}

.row {
	display: flex;
}

.expand {
	flex-grow: 1;
}

.blur {
	background-color: rgba(255, 255, 255, 0.8);
	height: 100%;
	width: 100%;
}

.center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.large-text {
	font-size: 16px;
	margin-top: 10px;
}

.medium-text {
	font-size: 14px;
	margin-top: 10px;
}

.apps-button {
	position: absolute !important;
	right: 50px;
	bottom: 20px;
}

.apps-button p,
.apps-button img {
	margin: 5px;
	margin-bottom: 1px;
}

/* buttons */
.alpha-button {
	border: none;
	cursor: pointer;
	color: gray;
	background-color: transparent;
	outline: none; /* remove the button outline when focused */
}

.alpha-button:hover {
	background-color: #80808066;
	box-shadow: 0 0 0 2px gray;
}

.circle {
	border-radius: 50%;
	height: 36px;
	width: 36px;
	padding: 0;
	padding-top: 3px; /* corrects the icon position */
}

.square {
	border-radius: 3px;
	padding: 10px;
}

li:hover,
button:hover {
	background-color: #eee;
}

li,
button {
	background-color: transparent;
	transition: 0.3s;
}

.slide {
	max-height: 0 !important;
}
.fade {
	opacity: 0 !important;
}