#speed-dial-wrapper {
	position: absolute;
	left: 300px;
	top: 20px;
	width: 650px;
	opacity: 0;
	overflow-y: auto;
	transition: 0.5s ease;
	z-index: 1000;
}
body:hover #speed-dial-wrapper {
	opacity: 1;
}

.dial-list {
	list-style-type: none;
	display: block;
	height: 100%;
	padding-left: 0;
	overflow: auto;
	border-radius: 5px;
}

.dial-list > li {
	width: 100%;
	max-height: 100%;
	background-color: rgba(0, 0, 0, .15);
	overflow: hidden;
	transition: 0.3s ease;
}

.dial-item:hover {
	background-color: rgba(128, 128, 128, .4);
}

.dial-item, .dial-item:focus, .dial-item:active {
	max-height: 60px;
	color: #888;
	text-decoration: none;
	transition: 0.3s ease;
}
.dial-item.over {
	/* background-color: rgba(128, 128, 128, .4); */
	box-shadow: 0 0 0 2px grey inset;
}

.dial-item .favicon {
	margin: auto 16px;
}

.dial-item p {
	display: block;
	margin: 12px 12px 12px 0;
	line-height: 34px;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: normal;
}

.dial-item-name {
	font-weight: bold;
}

.dial-item-url {
	font-family: monospace;
	opacity: 0;
	transition: 0.8s ease;
}

.dial-item-url::before {
	content: '|';
	margin-right: 14px;
}

.dial-item button {
	margin: 12px;
	margin-left: 0;
	opacity: 0;
	transition: 0.8s ease;
}

.dial-item:hover button,
.dial-item:hover .dial-item-url {
	opacity: 1;
}

#button-add-item {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.dial-form {
	position: fixed;
    bottom: 19px;
    right: 95px;
	background-color: rgba(128, 128, 128, .4);
	border-radius: 5px;
}
.dial-form .group {
	margin: 12px;
}
.dial-form button {
	opacity: 1;
}